.taskPreview :global(.MuiIcon-root) {
  display: none;
}

.taskCard {
  height: 100%;
  width: 100%;
}

.textfield {
  border-radius: 4px;
}

.commentText {
  padding: 10px;
  white-space: pre;
  line-height: 18px;
}

.comment {
  position: relative;
  padding-left: 50px;
}

.commentAvatar {
  position: absolute;
  inset: 0;
}
