.list {
  min-width: 250px;
  width: 250px;
  /* height: 100%; */
  background: #f4f5f7;
  border-radius: 2px;
}

.newList {
  
}


.taskComposerInput {
  background-color: white;
}

.red {
  color: red;
}